<form class="ui stacked segment form" action="/dashboard/addstationlist" method="POST">
  <div class="three fields">
    <div class="field">
      <label>title</label><input placeholder="station name" type="text" name="title">
    </div>
    <div class="field">
      <label>Latitude</label><input placeholder="00" type="text" name="lat">
    </div>
    <div class="field">
      <label>Longitude</label><input placeholder="00" type="text" name="lon">
    </div>
    <button class="ui green tiny submit button"> Submit Report </button>
  </div>
</form>