
{{#each stationlist}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{>stationpanel}}
    </h2>
    {{liststationlists
      date=date
      code=code
      temp=temp
      windSpeed=windSpeed
      windDirection=windDirection
      pressure=pressure
      stationlistid=../stationlist.id}}
    <a href="/stationlist/{{id}}" class="ui icon button">
      <i class="icon green folder open"></i>
    </a>
    <a href="/dashboard/deletestationlist/{{id}}" class="ui icon button">
      <i class="icon red trash"></i>
    </a>
  </section>
{{/each}}
