<table class="ui celled table">
  <thead>
  {{> reading-header}}
  </thead>
  <tbody>
    {{#each readings}}  {{!//passing stationlist id as a parameter for reading row}}
      {{>reading-row
        date=date
        latitude=latitude
        longitude=longitude
        code=code
        temp=temp
        windSpeed=windSpeed
        windDirection=windDirection
        pressure=pressure
        icon = icon
        stationlistid=../stationlist.id}}
    {{/each}}
  </tbody>
</table>