
<div class="ui cards" style="margin-right: 05px; margin-left: 05px;">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="ui inverted segment">
          <div class="container">
            {{station}}
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">comment</li>
                <li class="list-group-item">comment</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="margin-right: 05px; margin-left: 05px;">
      <div class="ui inverted segment">
        <div class="container">
          {{station}}
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">comment</li>
              <li class="list-group-item">comment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="ui inverted segment">
        <div class="container">
          {{station}}
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">comment</li>
              <li class="list-group-item">comment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="margin-right: 05px; margin-left: 05px;">
      <div class="ui inverted segment">
        <div class="container">
          {{station}}
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">comment</li>
              <li class="list-group-item">comment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
