{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weather Top
  </h3>
  <p>
    A web application that allows users to sign up and login. View their weather stations and add readings.
  </p>
</section>