{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{stationlist.title}}
  </h2>
  {{> stationpanel
    title=stationlist.title
    date=stationlist.date
    latitude=stationlist.latitude
    longitude=stationlist.longitude
    minTemp=stationlist.minTemp
    maxTemp=stationlist.maxTemp
    minP=stationlist.minTemp
    maxP=stationlist.maxP
    maxW=stationlist.maxW
    minW=stationlist.minW
    currentWeather=stationlist.currentWeather
    tempC=stationlist.tempC
    cToF=stationlist.cToF
    windChill=stationlist.windChill
    windSpeedToBft=stationlist.windSpeedToBft
    windDirection=stationlist.windDirection
    degreesToCompass=stationlist.degreesToCompass
    pressure=stationlist.pressure
    icon=stationlist.icon
    getTempTrend=stationlist.tempTrend
    getWindTrend=stationlist.windTrend
    getPressureTrend=stationlist.pressureTrend
  }}
  {{>listreadings}}
  {{>addreading}}
  {{>addreport}}
</section>